/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

@supports (-ms-ime-align: auto) {
	/* EDGE  */
}

@-moz-document url-prefix() {
	/* FIREFOX */
}

@supports (-webkit-touch-callout: none) {
	/* Safari 10.1+ (which is the latest version of Safari at this time) */
}